.login-container{
    width: 40%;
    margin: auto;
    margin-top: 50px;
    background-color: #1f262d;
    color: #fff;
    height: auto;
    border-radius: 10px;
}

.login-container h1{
    text-align: center;
}

.login-container form{
    width: 80%;
    margin: auto;
}

.login-container form input{
    width: 80%;
    height: 22px;
}

.login-container .bottom{
    margin-top: 20px;
    padding-bottom: 20px;
}

.login-container button{
    padding: 5px 10px;
    background-color: yellowgreen;
    border-radius: 5px;
    cursor: pointer;
}

.navv{
    height: 50px;
    background-color: rgb(231, 231, 231);
    color: #1f262d;
}
.navv a{
    float: right;
    padding: 10px 25px;
    color: #1f262d;
    text-decoration: none;
    font-weight: 500;
}
.navv a:hover{
    text-decoration: underline;
}

@media screen and (max-width:480px) {
    .login-container{
        width: 85%;
    }
    
}